/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 250px;
  max-width: 100% !important;
  margin: 0 auto !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  // font-smoothing: antialiased;
  font-weight: 300;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}
.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

// Main Content
.content {
  max-width: 75%;
  margin: 25px auto;
  padding-top: 140px;
}
// NAVBAR
.navbar {
    min-width: 100%;
    max-width: 100% !important;
    float: right;
    position:fixed;
    margin-top: 35px;
    z-index: 2000;
}

.navbar-bg {
  @extend .navbar;
  background-color: white;
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);

}
.ui.secondary.pointing.menu {
  border-bottom: 2px solid rgba(34, 36, 38, 0) !important;
}
.navlinks {
    margin: 0 auto;
    margin-bottom: -2px;
    max-width: 75%;
}

/**
**  HEADER
**/
header {
  width: 100%;
  background-color: #a6c4d8;
  margin-top: -10px;
  align-items: baseline;
  min-width: 100%;
  max-width: 100%;
  float: right;
  height: 100px;
}
.header-content {
  display: flex;
  align-items: center;
}
.header-logo {
  float: left;
  text-align: center;
  width: 25%;
}
.header-user-area {
  width: 25%;
  float: right;
}
.header-center-area {
  width: 50%;
  text-align: center;
}
.header-area {
    margin: 10px auto;
    z-index: 1000;
    position:fixed;
    top:0;
    left:0;
    right:0;

}


/**
 *  SIDEBAR NAV
 */

 .sidebar {
    float: left;
    margin-top: 160px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
 }
.logo-container {
    padding-bottom: 121px !important;
}
 .main-content-logo {
     font-size: 30px !important;
     margin: 33px 42% 0 0 !important;
 }

 /**
  * HomePage
  */

  .home-page-card {
      width: 50% !important;
  }
  .home-page-content-card {
      width: 100%;
  }

  /**
   *  FOOTER
   */
.footer {
    border-bottom: none !important;
    margin: 5em 0em -500px 0em !important;
    padding: 5em 0em !important;
    bottom: 0 !important;
    position: absolute !important;
    min-width: 100%;
}
